<div class="container">
  <div class="jumbotron">
    <div class="form-restFilters" id="searchFilters" tabindex="0" aria-label="Search Filters">
      <form name="createEventForm" id="createEventForm" autocomplete="on" role="form">

        <div class="form-group col-md-12">

          <div class="col-md-3">
            <label for="typeSearch" class="control-label">Search by Type</label>
            <select id="typeSearch" class="form-control" name="typeSearch" ng-model="main.typeSearch" aria-label="Search by Type">
              <option value="All types" >All types</option>
              <option ng-repeat="type in main.types" value="{{type}}">{{type}}
            </select>

         </div>

         <div class="col-md-3">
           <label for="priceSearch" class="control-label">Search by price</label>
           <select id="priceSearch" class="form-control" name="priceSearch" aria-label="Search by Price" ng-model="main.priceSearch">
               <option>All prices</option>
               <option ng-repeat="price in main.prices" value="{{price.value}}">{{price.label}}
           </select>
         </div>
         <div class="col-md-3">
           <label for="ratingSearch" class="control-label">Search by Rating</label>
           <select id="ratingSearch" class="form-control" aria-label="Search by Rating" ng-model="main.ratingSearch">
               <option>All ratings</option>
               <option ng-repeat="rating in main.ratings" value="{{rating}}">{{rating}}
           </select>
         </div>

         <div class="col-md-3">
           <label for="locationSearch" class="control-label">Search by Location</label>
           <select id="locationSearch" class="form-control" name="locationSearch"  aria-label="Search by Location" ng-model="main.locationSearch">
             <option value="All locations">All locations</option>
             <option ng-repeat="loc in main.locations" value="{{loc}}" >{{loc}}</option>
           </select>
         </div>
        </div>

    </form>
  </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <span style="text-align: center;" class="info" role="status" aria-live="polite" ng-show="main.typeSearch !== 'All types' || main.priceSearch !== 'All prices' || main.ratingSearch !== 'All ratings' || main.locationSearch !== 'All locations'">{{filtered.length}} restaurants found.</span>
      </div>
  </div>

  <div class="row" tabindex="0" aria-label="Restaurants Section">
    <div ng-repeat="rest in main.restaurants| filter: main.filterRestaurants as filtered">
      <div class="col-xs-12 col-sm-8 col-md-6" >
         <div class="well" tabindex="0">
          <div class="row " style="min-height:250px;" >
            <div class="col-xs-10 col-sm-offset-2 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-0">
              <h4>{{ rest.name }}</h4>

              <p>{{ rest.address }}</p>
              <p>{{ rest.description }}</p>
              <h5><span class="glyphicon glyphicon-phone" aria-hidden="true">{{ rest.phone }}</span></h5>
            </div>
            <div class="col-xs-10 col-sm-offset-2 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-0">
              <div class="row">
                <img role="img" style="width:140px;height:130px;" alt="{{rest.imgDesc}}" class="s-background-photo s-img-responsive" src="{{rest.image}}">
                <div class="s-card-gridHeader">
                  <div class="s-card-gridHeader-text">
                    <ng-rating
                      ng-model="rest.rating"
            					editable="false"
            					stars-count="5"
            					based-on="5"
            					show-grade="false"
                      tabindex="0"
                      aria-label="Rating is {{rest.rating}}">
            				</ng-rating>
                  </div>
                </div>
              </div>
              <div class="row">
                <span>
                  <p>{{ rest.timings }}</p>
                  <a ui-sref="restaurantsDetails({ restaurant: rest.name })"
                    aria-label="Write Review or Open Existing Reviews" class="infoReviews">View Reviews</a>

                </span><!----> <!---->
              </div><!---->
            </div><!---->
          </div>
        </div>
        <div class="clearfix visible-md"></div>
        <div class="clearfix visible-sm"></div>
        <div class="clearfix visible-xs"></div>
      </div>

    </div>
  </div>
</div>
