
.reviewsection{
   margin: 10px;
}

#reviewerName, #submit{
   max-width: 100px;
   min-width: 50px;
}

#homeBtn{
   max-width: 100px;
   min-width: 50px;
   float:right;
}

#reviewerComment{
   max-width: 60%;
}
